footer {
	/*position: absolute;*/
	position: relative;
	bottom: 0;
	width: 100%;
	height: 50px; /* hauteur du pied de page */
	background-color: black;
	color: white;
	text-align: center;
	/*padding-top: 20px;*/
	font-family: Simplifica, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	/* padding: 10px 0; */
}