header {
	height: 100px; /* hauteur du pied de page */
	background-color: black;
	color: white;
	text-align: center;
	/*padding-top: 20px;*/
	font-family: Simplifica, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	text-decoration: none;
	/* padding: 10px 0; */
}