header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  font-family:'simplifica', sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  flex-grow: 1;
  text-align: center;
}

a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 600px) {
  ul {
    flex-direction: column;
  }
}
