@font-face {
  font-family: Simplifica; 
  src: local("Simplifica"), local("Simplifica"); 
  src: url(../fonts/Simplifica.ttf) format("truetype");
  src: url(../fonts/Simplifica.woff) format("woff");
  src: url(../fonts/Simplifica.woff2) format("woff2");
  font-weight: normal;
}

header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  font-family: Simplifica, sans-serif;
  border: none
}

header nav {
  background-color: black;
  color: white;
  font-family: Simplifica, sans-serif;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  border: none
}

header nav-maths {
  display: flex;
  justify-content: center;
  width: 100%;
  border: none;
  color: white;
}


main {
  font-family: Simplifica, sans-serif;
  color: black;
  justify-content: center;
  text-align: center;
}

main section {
  font-family: Simplifica, sans-serif;
  color: black;
  justify-content: center;
  text-align: center;
}

body {
	font-family: Simplifica, sans-serif;
	background-color: white;
	color: black;	
}
