@font-face {
  font-family: Simplifica; 
  src: local("Simplifica"), local("Simplifica"); 
  /* Check how the font is written on the machine --> Right click on file -> Details -> Title */ 
  src: url(../fonts/Simplifica.ttf) format("truetype");
  src: url(../fonts/Simplifica.woff) format("woff");
  src: url(../fonts/Simplifica.woff2) format("woff2");
  font-weight: normal;
}

header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  font-family: Simplifica, sans-serif;
  border: none
}

main {
  font-family: Simplifica, sans-serif;
  color: black;
}

main section {
  font-family: Simplifica, sans-serif;
  color: black;
}

body {
	font-family: Simplifica, sans-serif;
	background-color: white;
	color: black;	
}
